@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.main-bg {
  background-image: url("../public/bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 640px) {
  .main-bg {
    background-image: inherit;
  }
}

.fade-in-right {
  animation: transitionRight 1.3s forwards;
  opacity: 0;
}

.fade-in-down {
  animation: fadeInDown 1.5s forwards;
  animation-delay: 2s;
  opacity: 0;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes transitionRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animation-test {
  transform: scale(1.5) translate(50%, 100%);
}

.animation-test-active {
  animation: mainCategoryAnimation 2s cubic-bezier(0.17, 0, 0.3, 1.13) forwards;
}

@keyframes mainCategoryAnimation {
  from {
  }
  to {
    transform: scale(1) translate(0, 0);
  }
}
